<div class="row no-pad-margin position-relative">
    <div class="col-12 header-container">
        <!-- Mobile/Desktop Logo -->
        <!-- <a href="/"><img class="d-none d-lg-inline d-xl-inline" src="../../assets/images/prt-logo.png" /></a>
        <a href="/"><img class="d-lg-none d-xl-none menu-logo-sm" src="../../assets/images/prt-icon.png" /></a> -->

        <span class="d-none d-lg-inline d-xl-inline logo-text"><i class="fas fa-poll"></i> Poll Runner</span>
        <span class="d-lg-none d-xl-none menu-logo-sm float-right logo-text"><i class="fas fa-poll"></i> PR</span>

        <!-- Mobile/Desktop Menu -->
        <nav class="navbar-expand-lg" (offClick)="isCollapsed ? isCollapsed : isCollapsed = !isCollapsed">
            <a class="navbar-brand d-block d-lg-none"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <i class="fas fa-bars nav-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
                <ul class="navbar-nav mr-auto nav-items">
                    <li class="header-link" [ngClass]="{ 'active': selectedTab === 'login'}" *ngIf="!userAuthed"><a
                            href="/login">Login</a>
                    </li>
                    <li class="header-link" [ngClass]="{ 'active': selectedTab === 'signup'}" *ngIf="!userAuthed"><a
                            href="/signup">Signup</a></li>

                    <li class="header-link cursor-pointer" [ngClass]="{ 'active': selectedTab === 'signup'}" *ngIf="userAuthed"><a
                            (click)="logout();">Logout</a></li>
                </ul>
            </div>
        </nav>

    </div>
</div>