<pr-loading-mask [watch]="userRequest || createPollRequest"></pr-loading-mask>
<pr-header [selectedTab]="'poll_management'" [isAdmin]="user.is_admin" *ngIf="user"></pr-header>
<div class="container">
    <div class="row">
        <div class="col-12 text-center page-title">
            <h5>Create a Poll</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-8 offset-2 text-center">
            <pr-alert-messages [messages]="messages"></pr-alert-messages>

            <form (ngSubmit)="createPoll()" [formGroup]="pollForm" novalidate>
                <div class="form-group position-relative">
                    <pr-form-validation-msgs [control]="pollForm.controls.poll_name" [submitted]="pollForm.submitted">
                    </pr-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control text-input" formControlName="poll_name" name="poll-name"
                                id="pollName" spellcheck="false" autocomplete="off" placeholder="Poll Name" />
                        </div>
                    </div>
                </div>


                <div formArrayName="questions" *ngIf="pollFormQuestions">
                    <div class="form-group position-relative"
                        *ngFor="let q of pollFormQuestions.controls; let i = index" [formGroupName]="i">
                        <pr-form-validation-msgs [control]="pollForm.controls.questions['controls'][i]" [submitted]="pollForm.submitted">
                        </pr-form-validation-msgs>
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control text-input question-input"
                                    formControlName="question" name="poll-name" id="pollName" spellcheck="false"
                                    autocomplete="off" placeholder="Enter a Yes/No Question" />
                            </div>
                            <i class="fas fa-times question-delete-icon cursor-pointer" (click)="removeQuestion(i)" 
                            ngbTooltip="Remove this question" placement="top"></i>
                        </div>
                    </div>
                </div>

                <div class="add-question-text"><span (click)="addQuestion();" class="cursor-pointer"><strong><i class="fas fa-plus"></i> Add a Question</strong></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Create Poll" class="btn btn-primary cursor-pointer" />
                </div>
            </form>

        </div>
    </div>

</div>