<pr-header [selectedTab]="'poll_management'" [isAdmin]="user.is_admin" *ngIf="user"></pr-header>
<div class="container">
    <div class="row">
        <div class="col-12 text-center page-title">
            <h5>Polls</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
            <div class="text-center poll-buttons">
                <a href="/create-poll"><button class="btn btn-primary">Create Poll</button></a> &nbsp;
                <a href="/send-poll"><button class="btn btn-primary">Send Poll</button></a>
            </div>

            <pr-alert-messages [messages]="messages"></pr-alert-messages>

            <div *ngIf="polls">
                <table class="table table-striped table-borderless" *ngIf="polls.length > 0">
                    <thead>
                        <tr>
                            <th scope="col-11">Poll Name</th>
                            <th scope="col-1 text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of polls">
                            <td>{{ p.poll_name }}</td>
                            <td class="text-right">
                                <i class="fas fa-search cursor-pointer" ngbTooltip="View this poll" placement="top" (click)="viewPoll(p)"></i>
                                &nbsp;
                                <i class="fas fa-times cursor-pointer" ngbTooltip="Remove this poll" placement="top"
                                    (click)="confirmPollDelete(p);"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>