<pr-loading-mask [watch]="loadingRequest"></pr-loading-mask>
<div class="container" *ngIf="poll && activePoll">
    <!-- Logo -->
    <div class="row">
        <div class="col-12 text-center">
            <div class="logo-text"><i class="fas fa-poll"></i> Poll Runner</div>
        </div>
    </div>

    <!-- Title/Poll already taken message -->
    <div class="row">
        <div class="col-12 text-center page-title" *ngIf="activePoll.status !== 'completed'">
            <h5><strong>{{ poll.poll_name }}</strong></h5>
        </div>

        <div class="col-12 text-center page-title" *ngIf="activePoll.status === 'completed'">
            <h5>This poll has already been completed.</h5>
        </div>
    </div>

    <!-- Poll questions form -->
    <div class="row" *ngIf="activePoll.status !== 'completed'">
        <div class="col-lg-6 offset-lg-3 col-8 offset-2 text-center">
            <pr-alert-messages [messages]="messages"></pr-alert-messages>

            <form (ngSubmit)="sendActivePoll()" [formGroup]="activePollForm" novalidate>
                <div formArrayName="questions" *ngIf="poll && activePoll">
                    <div class="row form-group position-relative"
                        *ngFor="let q of activePollFormQuestions.controls; let i = index" [formGroupName]="i">
                        <div class="col-lg-6 col-12 text-center poll-question-text">
                            {{ activePollForm.value.questions[i].question }}
                        </div>
                        <div class="col-lg-6 col-12 text-center poll-response-btns">
                            <span class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                                formControlName="response" (change)="updateActivePoll('in_progress')">
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="true"> Yes
                                </label>
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="false"> No
                                </label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center create-btn">
                    <input type="submit" value="Submit" class="btn btn-primary cursor-pointer" />
                </div>
            </form>

        </div>
    </div>