.data-dropdown {
    width: 150px;
}

.chart-data-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container {
    display: inline-block;
}

.selection-container {
    padding-bottom: 20px;
}

@media (min-width: 344px) {
    .data-dropdown {
        float: left;
        padding-top: 10px;
    }
}

@media (min-width: 992px) {
    .data-dropdown {
        float: right;
        padding-top: 0px;
    }
}